<p id="notice"><%= notice %></p>

<h1>Products</h1>

<%= form_tag(products_path, :method => 'get') do %>
  <%= label :search, "タイトル名" %>
  <%= text_field_tag :search %>

  <%= label :goal_price, "出資希望額" %>
  <%= number_field_tag :goal_price %>

  <%= label :category_id, "カテゴリー" %>
  <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name, params[:category_id]),:include_blank => '選択して下さい' %>

  <%= submit_tag '検索' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.desc %></td>
        <td><%= link_to 'Show', product %></td>
        <% unless product.owner?(current_user) %>
          <% if product.liked?(current_user) %>
            <td><%= button_to 'いいねを取り消す', product_like_path(product_id: product.id, id: product.get_like_by(current_user).id), method: :delete %></td>
          <% else %>
            <td><%= button_to 'いいね', product_likes_path(product.id) %></td>
          <% end %>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>