<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.desc %></td>
        <td><%= link_to 'Show', product %></td>

        <% if product.liked?(current_user) %>
          <td><%= button_to 'いいねを取り消す', product_like_path(id: product.id, product_id: product.id), method: :delete %></td>
        <% else %>
          <td><%= button_to 'いいね', product_likes_path(product.id) %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
