<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @product.desc %>
</p>
<% unless @product.owner?(current_user) %>
  <% if @product.liked?(current_user) %>
    <%= button_to 'いいねを取り消す', product_like_path(@product), method: :delete %>
  <% else %>
    <%= button_to 'いいね', product_likes_path(@product) %>
  <% end %>
<% end %>
<% unless @product.owner?(current_user) %>
  <% if @product.change_status == @product.active? %>
    <%= link_to '出資する', new_product_investment_path(@product) %> |
  <% end %>
<% end %>
<%= link_to 'Back', products_path %>