<!DOCTYPE html>
<html>
  <head>
    <title>CloudFunding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <nav>
          <% if user_signed_in? %>
            <strong><%= current_user.name %></strong>
            <%= link_to 'ホーム', products_path %>
            <%= link_to 'プロダクトを作成する', new_admin_product_path %>
            <%= link_to 'プロフィール変更', edit_user_registration_path %>
            <%= link_to 'ログアウト', destroy_user_session_path, methodpa: :delete %>
            <%= link_to 'メッセージ一覧', message_groups_path %>
          <% else %>
            <%= link_to 'ホーム', products_path %>
            <%= link_to 'サインアップ', new_user_registration_path %>
            <%= link_to 'ログイン', new_user_session_path %>
          <% end %>
      </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
